.cursor-pointer {
  cursor: pointer;
}

.amount-info-text {
  margin-left: 10px;
}

.amount-container {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent;
  border: 1px solid #999;
}

.action-button {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #8936bc;
  background: none;
  color: #8936bc;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.action-button:hover {
  background: #8936bc;
  border: 2px solid #8936bc;
  color: #fff;
}

.action-button:active {
  background: #8936bc;
  border: 2px solid #8936bc;
  color: #fff;
}

.decision-amount-items {
  padding: 0;
  height: min-content;
  background: #0000;
  border: none;
}

.card-light {
  background-color: #fff;
}

@media (max-width: 800px) {
  .amount-info-text {
    font-size: 1rem;
  }
}
