.product-list {
  max-width: 800px;
  margin: 20px auto 0;
  padding: 0 20px;
  p {
    font-size: 15px;
    line-height: 24px;
  }
  .button-put-cart {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #8936bc;
    background: none;
    color: #8936bc;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
  }
  .button-put-cart:hover {
    background: #8936bc;
    border: 2px solid #8936bc;
    color: #fff;
  }
}
.free-shipping {
  color: #008000;
}

@media (max-width: 800px) {
  .justify-content-center-sm {
    display: flex;
    justify-content: center;
  }
  .mt-sm-5 {
    margin-top: 20px;
  }
}
