@import '~utils/constants';

.navbar-container {
  background-color: #8936bc !important;
  .nav-items-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 790px;
    .navbar-brand {
      font-size: 2rem;
      font-style: italic;
      font-weight: bold;
      color: #ecf3fd !important;
    }
    .navbar-toggler {
      float: right;
      background-color: #fff;
      border: 1px solid #fff;
    }
    .cart-icon-container {
      cursor: pointer;
      i {
        float: right;
      }
      span {
        position: absolute;
      }
    }
  }
  @media (max-width: 800px) {
    .nav-items-container {
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 740px;
    }
  }
}
