@import '~utils/constants';

.header-container {
  background: #8936bc;
  height: $headerHeight;
  .header-itens {
    justify-content: center;
    align-items: center;

    i {
      float: right;
    }

    label {
      font-size: 2.5rem;
      font-style: italic;
      font-weight: bold;
      color: #ecf3fd;
    }

    .select {
      width: 20rem;
    }
  }
}
